<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Menu Item | AtithiAI</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Tiro+Devanagari+Marathi&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/global.css}">
	
</head>

<body>

<header class="main-header">
  <div>
    <div class="logo">AtithiAI 🍽️</div>
    <div class="tagline">अतिथी देवो भवः</div>
  </div>
</header>

<div class="container">
    <h2>Add Menu Item</h2>

    <form th:action="@{/menu/save}" method="post">
        <label>Item Name</label>
        <input type="text" name="name" required>

        <label>Category</label>
        <input type="text" name="category" required>

        <label>Price (₹)</label>
        <input type="number" step="0.01" name="price" required>

        <button type="submit">Save Item</button>
    </form>

    <a href="/menu/list" class="back">← Back to Menu List</a>
</div>

</body>
</html>
